.title {
    font-size: 4rem;
    text-align: center;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #443a81, 0 0 40px #443a81,
    0 0 50px #443a81, 0 0 60px #443a81, 0 0 70px #443a81;
    
}